<br>
<div class="container">
<%= simple_form_for(@status, html: {class: "form-horizontal", multipart: true}) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :content, input_html: { rows: 4, class: 'input-xxlarge' } %>
 

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to "Back", user_path(@user), class: 'btn' %>
  </div>
<% end %>
