
<h4>
	<%= avatar_profile_link status.user, {width: 90, radius: 45}, class: "img img-rounded" %>
  <%= status.content %>
  <p>
	<%= status.user.email %>
	<small><%= time_ago_in_words(status.created_at) + " ago" %></small>
</p>
</h4>
<% if status.document && status.document.attachment? %>
      <%= status_document_link status %>
      <hr />
    <% end %>
<%= link_to 'Back', statuses_path %>
      <% if signed_in? && status.user == current_user %>
        |
        <%= link_to "Edit", edit_status_path(status) %> | 
        <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
      <% end %>