<h1>Listing ko_medication_reviews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Is anonymous</th>
      <th>Rating</th>
      <th>Condition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ko_medication_reviews.each do |ko_medication_review| %>
      <tr>
        <td><%= ko_medication_review.title %></td>
        <td><%= ko_medication_review.description %></td>
        <td><%= ko_medication_review.user_id %></td>
        <td><%= ko_medication_review.is_anonymous %></td>
        <td><%= ko_medication_review.rating %></td>
        <td><%= ko_medication_review.condition_id %></td>
        <td><%= link_to 'Show', ko_medication_review %></td>
        <td><%= link_to 'Edit', edit_ko_medication_review_path(ko_medication_review) %></td>
        <td><%= link_to 'Destroy', ko_medication_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ko medication review', new_ko_medication_review_path %>
