<%= render "layouts/navbar" %>

<div class="container">

<%= form_for @allergy do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit class: "btn btn-default" %></p>
<% end %>
