<!DOCTYPE html>
<html>
<head>
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <meta name="description" content="" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navbar" %>
<div class="container"><%= bootstrap_flash %></div>
<%= yield %>

</body>
</html>

